* {
  box-sizing: border-box;
}
.contain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;

}

.about-card {
  margin-top:22px;
  height:483.5pt;
  width: 100%;
  background-color:#A0CFD3;
  text-align: center;
}

.header{
  justify-content: center;
}
