* {
  box-sizing: border-box;
}
.contain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;

}

.about-card {
  margin-top:22px;
  height:483.5pt;
  max-width: 75%;
  background-color:#06d6a0ff;
  text-align: center;
}

.header{
  justify-content: center;
}
