.row {
  margin: 25pt;
}

.about-card {
  background-color:#A0CFD3;
  text-align: center;
  margin-bottom: 30pt;
}

.mainHeader{
  justify-content: center;
  text-align: center;
  background-color: white;
  margin-left: 600pt;
  margin-right: 600pt;
  border-radius: 100pt;
  padding-top: 24pt;
  padding-bottom: 10pt;
  box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.3);
}

h1{
  font-weight: 500;
}

.header{
  justify-content: center;
  text-align: center;
}
.Img{
  border-radius: 8px;
  width: 50%;
  height: 50%;
}
a{
  color: gray;
}
