.row {
  margin: 25pt;
}

.about-card {
  background-color:#A0CFD3;
  text-align: center;
  margin-bottom: 30pt;
}

h1{
  font-weight: 500;
}

.header{
  justify-content: center;
  text-align: center;
}
.Img{
  border-radius: 8px;
  width: 50%;
  height: 50%;
}
a{
  color: gray;
}
