.row {
  margin: 25pt;
}

.about-card {
  background-color:#06d6a0ff;
  text-align: center;
}

h1{
  justify-content: center;
  text-align: center;
  margin: 25pt;
}
.header{
  justify-content: center;
  text-align: center;
}
.Img{
  border-radius: 8px;
  width: 50%;
  height: 50%;
}
a{
  color: gray;
}
