<div class="mainHeader">
  <h1>PROJECTS</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <mat-card class="about-card mat-elevation-z20">
      <mat-card-header class="header">
        <mat-card-title href = "https://github.com/Jaskanwar/Timetable-Maker" target = "_blank">BAR WATCH</mat-card-title>
        <mat-card-subtitle> <a href = "https://github.com/Jaskanwar/Timetable-Maker">GitHub </a></mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        class="Img"
        src="assets/pictures/test.jpg"
        alt="BarWatch"
      />
      <mat-card-content>
        <p>
          This application allows users to view average reported wait times for
          local restaurants and bars. To create this application, I used Python
          Flask to develop the back-end API which connected to a PostgreSQL
          database to store user information, which ultimately reported wait
          times. To create the front end of the mobile application, I used React
          Native to connect the back end in order to display the results to the
          users.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="about-card mat-elevation-z20">
      <mat-card-header class="header">
        <mat-card-title>ABOUT</mat-card-title>
        <mat-card-subtitle> <a href = "https://github.com/Jaskanwar/Timetable-Maker">GitHub </a></mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        class="Img"
        src="assets/pictures/test.jpg"
        alt="BarWatch"
      />
      <mat-card-content>
        <p>
          This application allows users to view average reported wait times for
          local restaurants and bars. To create this application, I used Python
          Flask to develop the back-end API which connected to a PostgreSQL
          database to store user information, which ultimately reported wait
          times. To create the front end of the mobile application, I used React
          Native to connect the back end in order to display the results to the
          users.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="about-card mat-elevation-z20">
      <mat-card-header class="header">
        <mat-card-title>ABOUT</mat-card-title>
        <mat-card-subtitle> <a href = "https://github.com/Jaskanwar/Timetable-Maker">GitHub </a></mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        class="Img"
        src="assets/pictures/test.jpg"
        alt="BarWatch"
      />
      <mat-card-content>
        <p>
          This application allows users to view average reported wait times for
          local restaurants and bars. To create this application, I used Python
          Flask to develop the back-end API which connected to a PostgreSQL
          database to store user information, which ultimately reported wait
          times. To create the front end of the mobile application, I used React
          Native to connect the back end in order to display the results to the
          users.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
