<ul id="navbar-list" class="navbar-nav override">
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/about" routerLinkActive="active" class="nav-link override" id="About" (click)="route('about')">About</a>
  </li>
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="['about']" routerLinkActive="active"  class="nav-link override" id="Projects" (click)="route('project')">Projects</a>
  </li>
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/" class="nav-link override" id="Resume" (click)="route('resume')">Resume</a>
  </li>
</ul>
<span class="drawer-inset-shadow"></span>
