.HList {
    overflow: auto;
    white-space: nowrap;
    height:230pt;
    background-color:aquamarine;
}

.images {
    position: relative;
    padding-left: 10pt;
    padding-right: 10pt;
    object-fit:contain;
    height:100%;
    width:180pt;
    vertical-align:middle;
}

.images:hover {
    padding-left: 10pt;
    padding-right: 10pt;
    height:230pt;
    width:260pt;
}
