.HList {
    overflow: auto;
    white-space: nowrap;
    height:230pt;
    background-color:aquamarine;
    vertical-align:middle;
    align-content: center;
}

.images {
    position: relative;
    padding-left: 10pt;
    padding-right: 10pt;
    height:157.5pt;
    width:180pt;
}

.images:hover {
    padding-left: 10pt;
    padding-right: 10pt;
    height:230pt;
    width:260pt;
}
