.HList {
  overflow: auto;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: aquamarine;
  text-align: center;
  height: 230pt;
}

.images {
  position: relative;
  padding-left: 10pt;
  padding-right: 10pt;

  width: 180pt;
  object-fit: contain;
  height: 100%;
  vertical-align: middle;
}

.images:hover {
  padding-left: 10pt;
  padding-right: 10pt;
  height: 230pt;
  width: 260pt;
}
